requests
boto3

# jupyter notebooks
ipykernel
ipywidgets

# testing
pytest
websocket-client>=1.6.0
websockets>=11.0.0

#datavis
pandas
matplotlib
seaborn

#strands
strands-agents==0.1.3
strands-agents-tools==0.1.3
strands-agents-builder==0.1.2


dateparser